.Box {
    display: flex;
    flex-direction: column;
    background-color: rgb(234 234 234 / 43%);
    width: 45%;
    border-radius: .4em;
    padding: .3em 1em .3em 1em;
    border-bottom-left-radius: 1px;
    position: relative;
    margin-top: 10px;
}

.Price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title {
    font-size: 14px;
    margin-bottom: 3px;
}